{% extends "layout.html" %}
{% block title %} Gallery {% endblock %}

{% block content %}
    <div class="row">
        <div class="six columns">
            <p> </p>
        </div>
        <div class="six columns">
            <div>
                <a class="button button-primary u-full-width" href="/enqueue">Queue</a>
            </div>
            <div>
                <a class="button button-primary u-full-width" href="/view">View</a>
            </div>
        </div>
    </div>
{% endblock %}

